target/
!.mvn/wrapper/maven-wrapper.jar
*.pid
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### webpack ###
vue_webchat/node_modules/
node-server/node_modules/
node_modules/

appName/src/test/*