<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button id="ska">test1111111111111111111</button> login page!
    <!-- <script src="js/socket.io/socket.io.js"></script> -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js'></script>
    <script src="../public/js/moment.min.js"></script>
    <script type="text/javascript" src="../public/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../public/js/pcClientDialog.js"></script>
    <script type="text/javascript" src="../public/js/login.js"></script>

</body>

</html>